#container{
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.2fr 0.2fr 1.8fr 0.2fr;
    grid-template-areas: "herder header"
                        " nav nav "
                        " sidebar main"
                        "  footer footer";
            grid-gap :5px;
}
#header{
    grid-area: header;
    background-color: aqua;
    height: 60px;
}
#nav{
    grid-area: nav;
    background-color: rgb(21, 139, 139);
    height: 60px;
}
#sidebar{
    grid-area: sidebar;
    background-color: rgb(4, 39, 39);
    height: 400px;
}
#main{
    grid-area: main;
    background-color: rgb(139, 81, 27);
    height: 400px;
}
#footer{
    grid-area: footer;
    background-color: rgb(240, 124, 15);
    height: 60px;
}
